body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Styles for the first section  */

#first-section {
    background-image: url(/Assets/Background.png);
    background-size: cover;
    background-color: pink;
}

#first-section, #second-section {
    padding: 1.7rem 20rem 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin-block-end: 1.7rem;
}

.nav-logo {
    width: 80px;
}

.navbar > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.nav-search {
    width: 0.9rem;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-size: 0.8rem;
}

button {
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 4px;
    padding: 8px;
    font-weight: bold;
    width: 170px;
    background-color: #000;
    color: #fff;
}

span {
    color: rgb(184, 183, 183);
    font-weight: lighter;
}

.title-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-heading {
    font-size: 2.5rem;
    margin-bottom: 0;
}

p {
    font-size: 0.8rem;
}

.title-img {
    margin-block-start: 3rem;
    max-width: 100%;
}


/* Styles for the second section  */

#second-section {
    margin-top: 3rem;
    display: flex;
    /* align-items: center; */
    gap: 5rem
}

.content {
    margin-top: 3rem;
    width: 50%;
}

.content-img {
    max-width: 50%;
}

.content-title {
    font-size: 2.2rem;
    margin-bottom: 0;
}
